<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
	<head th:replace="layout/layout :: head">
		<meta charset="UTF-8" />
		<title>Inicio</title>
	</head>
	<body>
		<div class="container-fluid" layout:fragment="page-content">
			<h2>Editar cita</h2>
			<div class="card">
				<form
					th:action="@{/updateCita/{id}(id=${cita.id})}"
					th:object="${cita}"
					method="post"
					class="p-4"
					enctype="multipart/form-data">
					<div class="form-row">
						<div class="form-group col-md-6">
							<label>Fecha</label>
							<input th:field="*{fecha}" type="date"
								class="form-control" />
						</div>
						<div class="form-group col-md-6">
							<label for="inputPassword4">Hora</label>
							<input th:field="*{hora}" type="time" step="1"
								class="form-control" />
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label>Mascota</label>
							<select th:field="*{mascota_id}"
								class="form-control">
								<option
									th:each="mascota : ${mascotas}"
									th:value="${mascota.id}"
									th:text="${mascota.nombre}"></option>
							</select>
						</div>
						<div class="form-group col-md-6">
							<label>Veterinario</label>
							<select th:field="*{veterinario_id}"
								class="form-control">
								<option
									th:each="veterinario : ${veterinarios}"
									th:value="${veterinario.id}"
									th:text="${veterinario.nombres}"></option>
							</select>
						</div>
					</div>
					<div class="row">
						<button type="submit" class="btn btn-primary">Registrar</button>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>