<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <head th:replace="layout/layout :: head">
    <meta charset="UTF-8" />
    <title>Inicio</title>
  </head>
  <body>
    <div class="container-fluid" layout:fragment="page-content">
      <div class="card">
        <div class="card-header">
          <h2>Listado de Mascotas</h2>
          <a th:href="@{/createMascota}" class="btn btn-primary"
            >Registrar mascota</a
          >
        </div>
        <div class="card-body">
          <table class="table table-dark table-striped-columns">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Raza</th>
                <th>Edad</th>
                <th>Peso</th>
                <th>Dueño</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="mascota:${mascotas}">
                <td th:text="${mascota.id}"></td>
                <td th:text="${mascota.nombre}"></td>
                <td th:text="${mascota.raza}"></td>
                <td th:text="${mascota.edad}"></td>
                <td th:text="${mascota.peso}"></td>
                <td
                  th:text="${mascota.cliente_nombre + ' ' + mascota.cliente_apellidos}"
                ></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
