<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
    <head th:replace="layout/layout :: head">
        <meta charset="UTF-8" />
        <title>Inicio</title>
    </head>
    <body>
        <div class="container-fluid" layout:fragment="page-content">
            <div class="card">
                <div class="card-header">
                    <h2>Listado de Mascotas</h2>
                    <a th:href="@{/createMascota}" class="btn btn-primary">Registrar
                        mascota</a>
                </div>
                <div class="card-body">
                    <p th:text="'Mostrando ' + ${total} + ' mascotas'"></p>
                    <table
                        class="table table-dark table-striped table-bordered table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Raza</th>
                                <th>Edad</th>
                                <th>Peso</th>
                                <th>Dueño</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="mascota:${mascotas}">
                                <td th:text="${mascota.id}"></td>
                                <td th:text="${mascota.nombre}"></td>
                                <td th:text="${mascota.raza}"></td>
                                <td th:text="${mascota.edad}"></td>
                                <td th:text="${mascota.peso}"></td>
                                <td
                                    th:text="${mascota.cliente_nombre + ' ' + mascota.cliente_apellidos}"></td>
                                <td>
                                    <a
                                        th:href="@{/editMascota/{id}(id=${mascota.id})}"
                                        type="button"
                                        class="btn btn-primary btn-editar"
                                        data-bs-whatever="${mascota.id}">
                                        Editar
                                    </a>
                                    <a
                                        th:href="@{/deleteMascota/{id}(id=${mascota.id})}"
                                        type="button"
                                        class="btn btn-danger btn-eliminar">
                                        Eliminar
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>

    <th:block layout:fragment="page-scripts">
        <script>
      $(document).ready(function () {
        document.querySelectorAll(".btn-eliminar").forEach((boton) => {
          boton.addEventListener("click", function (ev) {
            ev.preventDefault();
            Swal.fire({
              title: "¿Estás seguro?",
              text: "No podrás revertir esta acción",
              icon: "warning",
              showCancelButton: true,
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "Sí, eliminar",
              cancelButtonText: "Cancelar",
            }).then((result) => {
              if (result.isConfirmed) {
                window.location.href = boton.getAttribute("href");
              }
            });
          });
        });
      });
    </script>
    </th:block>
</html>
