<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <head th:replace="layout/layout :: head">
    <meta charset="UTF-8" />
    <title>Inicio</title>
  </head>
  <body>
    <div class="container-fluid" layout:fragment="page-content">
      <h2>Nuevo Veterinario</h2>

      <div class="card">
        <form
          th:action="@{/saveVeterinario}"
          th:object="${veterinario}"
          method="post"
          class="p-4"
        >
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Nombres</label>
              <input
                th:field="*{nombres}"
                type="text"
                class="form-control"
                placeholder="Nombres"
              />
            </div>
            <div class="form-group col-md-6">
              <label>Apellidos</label>
              <input
                th:field="*{apellidos}"
                type="text"
                class="form-control"
                placeholder="Apellidos"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Telefono</label>
              <input
                th:field="*{telefono}"
                type="text"
                class="form-control"
                placeholder="Telefono"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="">&nbsp</label>
              <div>
                <button type="submit" class="btn btn-primary">Registrar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
